#textdomain wesnoth-units
[unit_type]
    id=wrw_naga_myrmidon
    name= _ "Naga Myrmidon"
    race=wrw_naga
    gender=male,female
    image="units/nagas/fighter/myrmidon.png"
    profile=portraits/nagas/myrmidon.webp
    hitpoints=61
    movement_type=wrw_naga_heavy_slither
    movement=5
    vision=6
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=56
    num_traits=3
    usage=fighter
    # wmllint: local spelling blademasters
    description= _ "The most practiced of the naga blademasters are initiated into the caste of the Myrmidon, masters of their twin-bladed art. They strike as fast as the snakes which they resemble, and dance away from attacks with grace. Not only are they potent enemies on any open terrain, but their ability to swim allows them deadly mobility in water."
    die_sound=naga-die.ogg
    {DEFENSE_ANIM "units/nagas/fighter/myrmidon-defend-2.png" "units/nagas/fighter/myrmidon-defend-1.png" {SOUND_LIST:NAGA_HIT} }
    {TRAIT_WRW_ARMORED}
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-orcish.png
        type=blade
        range=melee
        damage=10
        number=4
        [specials]
            {WEAPON_SPECIAL_WRW_SKILLED}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.60,0.60~0.3,0.3~0.0
        start_time=-450
        [frame]
            image="units/nagas/fighter/myrmidon-melee-[1~6].png:[130,100*2,90,80,70]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [female]
        name= _ "Nagini Myrmidon"
        gender=female
        description= _ "The most practiced of the nagini blademasters are initiated into the caste of the Myrmidon, masters of their twin-bladed art. They strike as fast as the snakes which they resemble, and dance away from attacks with grace. Not only are they potent enemies on any open terrain, but their ability to swim allows them a deadly mobility."
    [/female]
[/unit_type]
