#textdomain wrw
# Wesnoth Rewind
# Add-on for "Battle for Wesnoth" >= 1.16.1
# Author: BlakerBR

#define WRW_DIR
Wesnoth_Rewind#enddef

# Images and assets:
[binary_path]
    path="data/add-ons/{WRW_DIR}"
[/binary_path]

# Localization
[textdomain]
    name="wesnoth-Wesnoth_Rewind"
[/textdomain]

#ifdef MULTIPLAYER
#ifndef WRW_ERA_LOADED
#define WRW_ERA_LOADED
#enddef
	{~add-ons/{WRW_DIR}/factions/}
	{~add-ons/{WRW_DIR}/era.cfg}
#endif
#endif

# Add-on
[modification]
	id=Wesnoth_Rewind
	name=_"Wesnoth Rewind"
	type=hybrid
	require_modification=yes
	description=_"..."

	# Macros
	{./macros/}

	# Core global variables and event handling
	{./util/event_handlers/}

	# Core changes to the game, like how XP is gained
	{./util/mechanics/}
	
[/modification]

{~add-ons/{WRW_DIR}/units.cfg}