#textdomain wrw
# Author Blaker_BR

[multiplayer_side]
    id=wrw_loyalists
    name= _"Loyalists"
    image="units/human-loyalists/lieutenant.png"
    type=random
    leader=wrw_lieutenant,wrw_swordsman,wrw_pikeman,wrw_javelineer,wrw_shock_trooper,wrw_longbowman,wrw_white_mage,wrw_red_mage
    random_leader=wrw_lieutenant,wrw_swordsman,wrw_pikeman,wrw_javelineer,wrw_shock_trooper,wrw_longbowman,wrw_white_mage,wrw_red_mage
    recruit=wrw_cavalryman,wrw_horseman,wrw_sergeant,wrw_spearman,wrw_fencer,wrw_heavy_infantryman,wrw_bowman,wrw_mage,wrw_merman_fighter
    terrain_liked=Gg, Ww, Wo
    # wmllint: markcheck off
    description="<img>src='portraits/humans/grand-knight.webp~BG()' align='middle'</img>

"+_"The <bold>text='Loyalists'</bold> are a faction of <ref>text='Humans' dst='..race_human'</ref> who are loyal to the throne of Wesnoth. Humans are a versatile race who specialize in many different areas. Similarly, the Loyalist faction is a very versatile melee-oriented faction with important ranged support from bowmen and mages."
    # wmllint: markcheck on
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]
