#textdomain wesnoth-units
[unit_type]
    # Name and Base Stats
    id=wrw_dwarvish_runesmith
    name= _ "Dwarvish Runesmith"
    # wmllint: general spellings runesmith runesmiths
    race=wrw_dwarf
    alignment=neutral
    level=2
    hitpoints=60
    movement_type=wrw_dwarf_heavy_foot
    movement=4
    vision=4
    cost=32
    usage=fighter
    [abilities]
        {ABILITY_WRW_INSPIRE 20}
    [/abilities]

    # Attacks
    [attack]
        name=hammer
        description= _"hammer"
        icon=attacks/hammer-dwarven-runic.png
        type=impact
        range=melee
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_WRW_RESISTANCE_BREAK impact}
            {WEAPON_SPECIAL_WRW_ACCURATE}
        [/specials]
    [/attack]

    # Advancement
    experience=100
    advances_to=wrw_dwarvish_runemaster
    {WRW_AMLA_DEFAULT 8 4}
    
    # Sprite and Non Attack Animations
    image=units/dwarves/runesmith.png
    {DEFENSE_ANIM "units/dwarves/runesmith-defend-2.png" "units/dwarves/runesmith-defend-1.png" {SOUND_LIST:DWARF_HIT} }
    die_sound={SOUND_LIST:DWARF_DIE}

    [standing_anim]
        {WOUNDED_UNIT ()}
        start_time=0
        [frame]
            image="units/dwarves/runesmith-bob-[1~6].png:[150*3,200,150*2]"
        [/frame]
    [/standing_anim]

    [standing_anim]
        start_time=0
        [frame]
            image="units/dwarves/runesmith.png:150"
        [/frame]
    [/standing_anim]

    # Profile
    profile="portraits/dwarves/runemaster.webp"
    description= _ "Dwarvish runesmiths, now practiced at their craft, carve arcane runes into their weapons and armor. These runes infuse the runesmith’s blows with power and accuracy, and disrupt the blows of their enemies, causing them to strike softly, weakly and on the armor of the defender."
    
    # Attack Animations
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-400
        offset=0.0~-0.15,-0.15~0.1,0.1~0.5,0.5~0.6,0.6~0.6,0.6~0.15,0.15~0.0
        [frame]
            image="units/dwarves/runesmith-attack-se-[1~10].png:70"
        [/frame]
        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -100}
    [/attack_anim]
[/unit_type]
