#textdomain wesnoth-units
[unit_type]
    # Name and Base Stats
    id=wrw_drake_blademaster
    name= _ "Drake Blademaster"
    race=wrw_drake
    alignment=lawful
    level=3
    hitpoints=100
    movement_type=wrw_drake_medium_flight
    movement=5
    vision=5
    cost=62
    recall_cost=44
    usage=fighter

    # Attacks
    [attack]
        name=war talon
        description=_"war talon"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=14
        number=4
        [specials]
            {WEAPON_SPECIAL_WRW_PRECISE}
        [/specials]
    [/attack]

    [attack]
        name=fire breath
        description=_"fire breath"
        icon=attacks/fire-breath-drake.png
        type=fire
        range=ranged
        damage=10
        number=3
    [/attack]

    # Advancement
    experience=150
    advances_to=null
    {WRW_AMLA_DEFAULT 5 10 20}

    # Sprite and Non Attack Animations
    image="units/drakes/blademaster.png"
    {DEFENSE_ANIM "units/drakes/blademaster-defend-2.png" "units/drakes/blademaster-defend-1.png" {SOUND_LIST:DRAKE_HIT} }
    {DRAKE_STANDING_ANIM blademaster}
    {DRAKE_MOVEMENT_ANIM blademaster}
    {DRAKE_WEAPON_ANIM blademaster}
    die_sound=drake-die.ogg

    # Profile
    profile="portraits/drakes/blademaster.webp"
    #wmllint: local spelling Blademasters
    description= _ "Black armor marks the elite order of the Fighter caste: the Blademasters. Only a few manage to gain the skill and power necessary to be admitted to this highest rank without perishing in battle. Though other drakes may disparage the Fighter caste, they always check twice to be sure none are around; Blademasters fiercely protect their fellows’ honor, and no-one would dispute their right to do so."

    # Attack Animations
    [attack_anim]
        [filter_attack]
            name=war talon
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-400
        [frame]
            image="units/drakes/blademaster-melee-[1~6].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]

    {DRAKE_FIRE_ANIM_S_DIAGONAL blademaster 35,40}
    {DRAKE_FIRE_ANIM_N_DIAGONAL_CURRENT blademaster 35,-20}
    {DRAKE_FIRE_ANIM_S blademaster 8,50}
    {DRAKE_FIRE_ANIM_N_CURRENT blademaster 8,-50}
[/unit_type]
