#textdomain wesnoth-units
[unit_type]
    # Name and Base Stats
    id=wrw_drake_glider
    name= _ "Drake Glider"
    race=wrw_drake
    alignment=lawful
    level=1
    hitpoints=40
    movement_type=wrw_drake_light_flight
    movement=6
    vision=6
    cost=16
    usage=scout

    # Attacks
    [attack]
        name=slam
        description=_"slam"
        icon=attacks/slam-drake.png
        type=impact
        range=melee
        damage=6
        number=2
    [/attack]

    [attack]
        name=fire breath
        description=_"fire breath"
        icon=attacks/fire-breath-drake.png
        type=fire
        range=ranged
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_WRW_ACCURATE}
        [/specials]
    [/attack]

    # Advancement
    experience=50
    advances_to=wrw_sky_drake
    {WRW_AMLA_DEFAULT 6 3}

    # Sprite and Non Attack Animations
    image="units/drakes/glider.png"
    {DEFENSE_ANIM "units/drakes/glider-defend-2.png" "units/drakes/glider-defend-1.png" {SOUND_LIST:DRAKE_HIT} }
    {DRAKE_STANDING_ANIM glider}
    {DRAKE_MOVEMENT_ANIM glider}
    {DRAKE_WEAPON_ANIM glider}
    die_sound=drake-die.ogg

    # Profile
    profile="portraits/drakes/glider.webp"
    description= _ "Many drakes enjoy the flow of air over scales, leading them to don the light robes of the Glider caste. The long forays to the far reaches of the tribal territory are their passion, though other drakes often wonder what could lead someone to take on the drudgery of hunting when more glory could be found on the battlefield.

Most often, Gliders hunt larger game like deer, swine, or dolphins; the drakes’ ancestral ability to aim fire, hampered in other castes by armor, is invaluable for flushing and herding the quarry without harming it. If a Glider is called to the battlefield, he prefers to harass the enemy from a distance – and if all else fails, he will fight with his feet, keeping his precious wings as far from the enemy as possible."

    # Attack Animations
    [attack_anim]
        [filter_attack]
            name=slam
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-400
        [frame]
            image="units/drakes/glider-kick-[1~6,2].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS club.ogg {SOUND_LIST:MISS} -200}
    [/attack_anim]

    {DRAKE_FIRE_ANIM_S_DIAGONAL glider 35,40}
    {DRAKE_FIRE_ANIM_N_DIAGONAL_CURRENT glider 35,-20}
    {DRAKE_FIRE_ANIM_S glider 8,50}
    {DRAKE_FIRE_ANIM_N_CURRENT glider 8,-50}
[/unit_type]
