#textdomain wesnoth-units
[unit_type]
    # Name and Base Stats
    id=wrw_saurian_skirmisher
    name= _ "female^Saurian Skirmisher"
    race=wrw_saurian
    gender=female
    alignment=chaotic
    level=1
    hitpoints=33
    movement_type=wrw_saurian_light_foot
    movement=5
    vision=5
    cost=15
    usage=scout
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]

    # Attacks
    [attack]
        name=spear
        description=_"spear"
        icon=attacks/spear.png
        range=melee
        type=pierce
        damage=6
        number=3
    [/attack]

    [attack]
        name=spear
        description=_"spear throw"
        icon=attacks/spear-thrown.png
        range=ranged
        type=pierce
        damage=5
        number=2
    [/attack]

    # Advancement
    experience=50
    advances_to=wrw_saurian_ambusher,wrw_saurian_spearthrower
    {WRW_AMLA_DEFAULT 6 3}

    # Sprite and Non Attack Animations
    image="units/saurians/skirmisher/skirmisher.png"
    {DEFENSE_ANIM_DIRECTIONAL "units/saurians/skirmisher/skirmisher-se-defend2.png" "units/saurians/skirmisher/skirmisher-se-defend1.png" "units/saurians/skirmisher/skirmisher-ne-defend2.png" "units/saurians/skirmisher/skirmisher-ne-defend1.png" hiss-hit.wav }
    {STANDING_ANIM_DIRECTIONAL_6_FRAME "units/saurians/skirmisher/skirmisher"}
    {MOVING_ANIM_DIRECTIONAL_12_FRAME "units/saurians/skirmisher/skirmisher"}
    {DEATH_ANIM_DIRECTIONAL_4_FRAME "units/saurians/skirmisher/skirmisher"}
    die_sound=hiss-die.wav
    
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        terrain_type=!,C*^*,K*^*,*^V*
        start_time=0
        [frame]
            image="units/saurians/skirmisher/skirmisher-idle-[1~7,6,5,6,8~13].png:200,units/saurians/skirmisher/skirmisher-idle-[12,13,12,13].png:[225*2,250*2]"
        [/frame]
    [/idle_anim]

    # Profile
    profile=portraits/saurians/skirmisher.webp
    description= _ "Saurians are very small of frame, and though they are somewhat frail because of this, they are very, very agile. In combat, their size allows them to dart past defenses that would hold any grown man at bay, making them a tricky foe to deal with.

Spears are their preferred weapon, as their powerful hind legs can drive a spear with enough force to do considerable damage, either in hand or thrown."

    # Attack Animations
    [attack_anim]
        [filter_attack]
            name=spear
            range=melee
        [/filter_attack]

        offset=0.0~0.3,0.3~0.45,0.45~0.3,0.3~0.0
        start_time=0
        {ATTACK_ANIM_QUAD_DIRECTIONAL_10_FRAME "units/saurians/skirmisher/skirmisher" "melee" spear.ogg spear-miss.ogg}
    [/attack_anim]
    
    [attack_anim]
        [filter_attack]
            name=spear
            range=ranged
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            offset=-0.2~1.0
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]

        start_time=-450
        throw_sound_start_time=-150
        sound_start_time=-100

        [throw_sound_frame]
            sound={SOUND_LIST:THROW}
        [/throw_sound_frame]

        [if]
            hits=yes
            [sound_frame]
                sound=spear.ogg
            [/sound_frame]
        [/if]
        [if]
            direction=s,se,sw
            [frame]
                image="units/saurians/skirmisher/skirmisher-se-throw[1~9].png:100"
            [/frame]
        [/if]
        [else]
            direction=n,ne,nw
            [frame]
                image="units/saurians/skirmisher/skirmisher-ne-throw[1~9].png:100"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
