#textdomain wesnoth-units
[unit_type]
    # Name and Base Stats
    id=wrw_saurian_ambusher
    name= _ "female^Saurian Ambusher"
    race=wrw_saurian
    gender=female
    alignment=chaotic
    level=2
    hitpoints=48
    movement_type=wrw_saurian_light_foot
    movement=5
    vision=5
    cost=22
    usage=scout
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]

    # Attacks
    [attack]
        name=spear
        description=_"spear"
        icon=attacks/spear.png
        range=melee
        type=pierce
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_WRW_PHYSICAL}
            {WEAPON_SPECIAL_WRW_SKILLED}
        [/specials]
    [/attack]

    [attack]
        name=spear_throw
        description=_"spear throw"
        icon=attacks/spear-thrown.png
        range=ranged
        type=pierce
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_WRW_PHYSICAL}
        [/specials]
    [/attack]

    # Advancement
    experience=100
    advances_to=wrw_saurian_flanker
    {WRW_AMLA_DEFAULT 8 4}

    # Sprite and Non Attack Animations
    image="units/saurians/ambusher/ambusher.png"
    {DEFENSE_ANIM_DIRECTIONAL "units/saurians/ambusher/ambusher-se-defend2.png" "units/saurians/ambusher/ambusher-se-defend1.png" "units/saurians/ambusher/ambusher-ne-defend2.png" "units/saurians/ambusher/ambusher-ne-defend1.png" hiss-hit.wav }
    {STANDING_ANIM_DIRECTIONAL_6_FRAME "units/saurians/ambusher/ambusher"}
    {MOVING_ANIM_DIRECTIONAL_12_FRAME "units/saurians/ambusher/ambusher"}
    {DEATH_ANIM_DIRECTIONAL_4_FRAME "units/saurians/ambusher/ambusher"}
    die_sound=hiss-die.wav

    # Profile
    profile="portraits/saurians/skirmisher.webp"
    description= _ "Saurians are light on their feet, and able at navigating terrain that often confounds their enemies. When this natural mobility is combined with experience, strength, and proper equipment, their warriors can become particularly threatening in battle — if only because they are so much more difficult to confine than other foes. Even in armor, saurian warriors can take advantage of the smallest gap in an enemy line, and have the prowess to make the enemy regret tactical mistakes."

    # Attack Animations
    [attack_anim]
        [filter_attack]
            name=spear
            range=melee
        [/filter_attack]

        offset=0.0~0.3,0.3~0.45,0.45~0.3,0.3~0.0
        start_time=0
        {ATTACK_ANIM_QUAD_DIRECTIONAL_10_FRAME "units/saurians/ambusher/ambusher" "melee" spear.ogg spear-miss.ogg}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=spear
            range=ranged
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            offset=-0.2~1.0
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]

        start_time=-450
        throw_sound_start_time=-150
        sound_start_time=-100

        [throw_sound_frame]
            sound={SOUND_LIST:THROW}
        [/throw_sound_frame]

        [if]
            hits=yes
            [sound_frame]
                sound=spear.ogg
            [/sound_frame]
        [/if]
        [if]
            direction=s,se,sw
            [frame]
                image="units/saurians/ambusher/ambusher-se-throw[1~9].png:100"
            [/frame]
        [/if]
        [else]
            direction=n,ne,nw
            [frame]
                image="units/saurians/ambusher/ambusher-ne-throw[1~9].png:100"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
