#textdomain wrw
# Author: BlakerBR

# Whenever a building is killed it's captured instead with half HP

# Gives side the defeated building
[event]
    name=die
    id=wrw_building_capture
    first_time_only=no

    [filter]
        race=wrw_building
    [/filter]

    # Changes building values and unstores it
    {VARIABLE unit.side $second_unit.side}
    {VARIABLE unit.hitpoints $unit.max_hitpoints}
    {VARIABLE_OP unit.hitpoints divide 2}
    
    [capture_village]
        x=$unit.x
        y=$unit.y
        side=$second_unit.side
    [/capture_village]

    [unstore_unit]
        variable=unit
        text="captured"
    [/unstore_unit]
[/event]