#textdomain wrw
# Author Blaker_BR

# As of version 1.17.20, trying to modify an unit in pre advance or advance will trigeer the event again
# risking an infinite loop, for that reason trait given is declared twice, once at game start and again
# in post advance instead of here, so that the unit it won't be set to no again resulting in the previously
# stated problem, waiting for it to be fixed
#
# For reference the following is the order wich event will be fired
# pre advance 1 -> modify unit -> pre advance 2 -> advance -> post adavance -> after modify unit pre advance 1 -> end
#
# Do note that pre advance 1 will not trigger it's advance and post advance, as they are triggerd only by the
# second pre advance
#
# With that in mind sadly undead players cannot see which trait was rolled before selecting an advancment

# Gives a positive trait
[event]
    name=wrw_post_advance_positive_trait_giver
    first_time_only=no

    [if]
        # Leaders never receives positive traits
        [not]
            [have_unit]
                id=$unit.id
                trait=wrw_strong_leader
            [/have_unit]
        [/not]

        [then]
            {VARIABLE positive_trait_given no}

            [while]
                {VARIABLE_CONDITIONAL positive_trait_given boolean_equals no}
                
                [do]
                    [set_variable]
                        name=trait_roll
                        rand=1..12
                    [/set_variable]

                    [switch]
                        variable=trait_roll

                        # Race Specific
                        [case]
                            value=1

                            [fire_event]
                                name=wrw_race_specific_trait_giver
                                [primary_unit]
                                    id=$unit.id
                                [/primary_unit]
                            [/fire_event]
                        [/case]

                        # Agile
                        [case]
                            value=2

                            [if]
                                [have_unit]
                                    id=$unit.id
                
                                    [not]
                                        trait=wrw_agile,wrw_elvish_agility
                                    [/not]
                                [/have_unit]
        
                                [then]
                                    {VARIABLE positive_trait_given yes}
                                    
                                    [modify_unit]
                                        [filter]
                                            id=$unit.id
                                        [/filter]
                                        
                                        {TRAIT_WRW_AGILE}
                                    [/modify_unit]
                                [/then]
                            [/if]
                        [/case]

                        # Ambitious
                        [case]
                            value=3

                            [if]
                                [have_unit]
                                    id=$unit.id
                
                                    [not]
                                        trait=wrw_ambitious,wrw_human_ambition
                                    [/not]
                                [/have_unit]
        
                                [then]
                                    {VARIABLE positive_trait_given yes}
                                    
                                    [modify_unit]
                                        [filter]
                                            id=$unit.id
                                        [/filter]
                                        
                                        {TRAIT_WRW_AMBITIOUS}
                                    [/modify_unit]
                                [/then]
                            [/if]
                        [/case]

                        # Attentive
                        [case]
                            value=4

                            [if]
                                [have_unit]
                                    id=$unit.id
                
                                    [not]
                                        trait=wrw_attentive,wrw_dune_swiftness,wrw_inattentive
                                    [/not]
                                [/have_unit]
        
                                [then]
                                    {VARIABLE positive_trait_given yes}
                                    
                                    [modify_unit]
                                        [filter]
                                            id=$unit.id
                                        [/filter]
                                        
                                        {TRAIT_WRW_ATTENTIVE}
                                    [/modify_unit]
                                [/then]
                            [/if]
                        [/case]

                        # Cunning
                        [case]
                            value=5

                            [if]
                                [have_unit]
                                    id=$unit.id
                
                                    [not]
                                        trait=wrw_cunning,wrw_naive,wrw_naga_cunning
                                    [/not]
                                [/have_unit]
        
                                [then]
                                    {VARIABLE positive_trait_given yes}
                                    
                                    [modify_unit]
                                        [filter]
                                            id=$unit.id
                                        [/filter]
                                        
                                        {TRAIT_WRW_CUNNING}
                                    [/modify_unit]

                                    # Explained at Wesnoth_Rewind/util/mechanics/positive_trait_giver.cfg
                                    {VARIABLE positive_trait_given no}
                                [/then]
                            [/if]
                        [/case]

                        # Elusive
                        [case]
                            value=6

                            [if]
                                [have_unit]
                                    id=$unit.id
                
                                    [not]
                                        trait=wrw_elusive,wrw_goblin_elusiveness,wrw_oblivious
                                    [/not]
                                [/have_unit]
        
                                [then]
                                    {VARIABLE positive_trait_given yes}
                                    
                                    [modify_unit]
                                        [filter]
                                            id=$unit.id
                                        [/filter]
                                        
                                        {TRAIT_WRW_ELUSIVE}
                                    [/modify_unit]
                                [/then]
                            [/if]
                        [/case]

                        # Fearless
                        [case]
                            value=7

                            [if]
                                [have_unit]
                                    id=$unit.id
                
                                    [not]
                                        trait=fearless
                                    [/not]
                                [/have_unit]
        
                                [then]
                                    {VARIABLE positive_trait_given yes}
                                    
                                    [modify_unit]
                                        [filter]
                                            id=$unit.id
                                        [/filter]
                                        
                                        {TRAIT_FEARLESS}
                                    [/modify_unit]
                                [/then]
                            [/if]
                        [/case]

                        # Loyal
                        [case]
                            value=8

                            [if]
                                [have_unit]
                                    id=$unit.id
                
                                    [not]
                                        trait=loyal,wrw_strong_link
                                    [/not]
                                [/have_unit]
        
                                [then]
                                    {VARIABLE positive_trait_given yes}
                                    
                                    [modify_unit]
                                        [filter]
                                            id=$unit.id
                                        [/filter]
                                        
                                        {TRAIT_LOYAL}
                                    [/modify_unit]
                                [/then]
                            [/if]
                        [/case]

                        # Mighty
                        [case]
                            value=9

                            [if]
                                [have_unit]
                                    id=$unit.id
                
                                    [not]
                                        trait=wrw_mighty,wrw_drakes_might,wrw_naga_cunning,wrw_orcish_savageness,wrw_puny,wrw_sturdy_bark
                                    [/not]
                                [/have_unit]
        
                                [then]
                                    {VARIABLE positive_trait_given yes}
                                    
                                    [modify_unit]
                                        [filter]
                                            id=$unit.id
                                        [/filter]
                                        
                                        {TRAIT_WRW_MIGHTY}
                                    [/modify_unit]
                                [/then]
                            [/if]
                        [/case]

                        # Robust
                        [case]
                            value=10

                            [if]
                                [have_unit]
                                    id=$unit.id
                
                                    [not]
                                        trait=wrw_robust,wrw_frail,wrw_mer_robustness,wrw_troll_sturdiness,wrw_sturdy_bark
                                    [/not]
                                [/have_unit]
        
                                [then]
                                    {VARIABLE positive_trait_given yes}
                                    
                                    [modify_unit]
                                        [filter]
                                            id=$unit.id
                                        [/filter]
                                        
                                        {TRAIT_WRW_ROBUST}
                                    [/modify_unit]
                                [/then]
                            [/if]
                        [/case]

                        # Swift
                        [case]
                            value=11

                            [if]
                                [have_unit]
                                    id=$unit.id
                
                                    [not]
                                        trait=wrw_swift,wrw_bulky,wrw_dune_swiftness,wrw_saurian_speed
                                    [/not]
                                [/have_unit]
        
                                [then]
                                    {VARIABLE positive_trait_given yes}
                                    
                                    [modify_unit]
                                        [filter]
                                            id=$unit.id
                                        [/filter]
                                        
                                        {TRAIT_WRW_SWIFT}
                                    [/modify_unit]
                                [/then]
                            [/if]
                        [/case]

                        # Tough
                        [case]
                            value=12

                            [if]
                                [have_unit]
                                    id=$unit.id
                
                                    [not]
                                        trait=wrw_tough,wrw_tough,wrw_dwarvish_toughness,wrw_fragile,wrw_orcish_savageness,wrw_troll_sturdiness,wrw_strong_link
                                    [/not]
                                [/have_unit]
        
                                [then]
                                    {VARIABLE positive_trait_given yes}
                                    
                                    [modify_unit]
                                        [filter]
                                            id=$unit.id
                                        [/filter]
                                        
                                        {TRAIT_WRW_TOUGH}

                                        [effect]
                                            apply_to=hitpoints
                                            heal_full=yes
                                        [/effect]
                                    [/modify_unit]
                                [/then]
                            [/if]
                        [/case]
                    [/switch]
                [/do]
            [/while]

            {CLEAR_VARIABLE positive_trait_given}
            {CLEAR_VARIABLE trait_roll}
        [/then]
    [/if]
[/event]

# Race specific traits
## So far only goblins have level 0 units in this era
## Undeads may receive it before advancing to level 2 and 3
[event]
    name=wrw_race_specific_trait_giver
    first_time_only=no

    [switch]
        variable=unit.race

        # Goblin
        [case]
            value=wrw_goblin

            [if]
                [have_unit]
                    id=$unit.id

                    [not]
                        trait=wrw_goblin_elusiveness,wrw_elusive,wrw_bulky,wrw_oblivious,wrw_swift
                    [/not]
                [/have_unit]
        
                [then]
                    {VARIABLE positive_trait_given yes}
                    
                    [modify_unit]
                        [filter]
                            id=$unit.id
                        [/filter]
                        
                        {TRAIT_WRW_GOBLIN_ELUSIVENESS}
                    [/modify_unit]
                [/then]
            [/if]
        [/case]

        # Undead
        [case]
            value=wrw_undead

            [if]
                [have_unit]
                    id=$unit.id

                    [not]
                        trait=wrw_strong_link,loyal,wrw_fragile,wrw_tough
                    [/not]
                [/have_unit]
        
                [then]
                    {VARIABLE positive_trait_given yes}

                    [modify_unit]
                        [filter]
                            id=$unit.id
                        [/filter]
                        
                        {TRAIT_WRW_STRONG_LINK}
                    [/modify_unit]
                [/then]
            [/if]
        [/case]
    [/switch]
[/event]