#textdomain wrw
# Author Blaker_BR

# All new weapon specials present in this add-on

# Allows ranged attacks to be perfomed
#define WEAPON_SPECIAL_WRW_RANGE MIN MAX
[ranged]
    id=wrw_range
    name= _ "Range "+{MIN}+"-"+{MAX}
    description=_"May attack units between "+{MIN}+" and "+{MAX}+" hexes."
    min_range={MIN}
    max_range={MAX}
[/ranged]
#enddef

# Allows ranged attacks to be perfomed
#define WEAPON_SPECIAL_WRW_ANTI_ARMORED
[chance_to_hit]
    id=wrw_anti_armored
    name= _ "Anti-Armored"
    description=_"Attack ignores target's armored trait and deals 50% more damage."
    apply_to=self
    add=20
    cumulative=yes
    
    [filter_opponent]
            trait=wrw_armored
    [/filter_opponent]
[/chance_to_hit]

[damage]
    id=wrw_anti_armored
    apply_to=self
    multiply=1.5
    cumulative=yes
    
    [filter_opponent]
        trait=wrw_armored
    [/filter_opponent]
[/damage]
#enddef