#textdomain wrw
# Author Blaker_BR

# All new weapon specials present in this add-on

# Allows ranged attacks to be perfomed
#define WEAPON_SPECIAL_WRW_RANGE MIN MAX
[ranged]
    id=wrw_range
    name= _ "range "+{MIN}+"-"+{MAX}
    description=_"May attack units between "+{MIN}+" and "+{MAX}+" hexes."
    min_range={MIN}
    max_range={MAX}
[/ranged]
#enddef

# Ignores armored extra defense e deals more damage
#define WEAPON_SPECIAL_WRW_ANTI_ARMORED
[chance_to_hit]
    id=wrw_anti_armored
    name= _ "anti-armored"
    description=_"Attack ignores target's armored trait and deals 50% more damage."
    apply_to=self
    add=20
    cumulative=yes
    
    [filter_opponent]
            trait=wrw_armored
    [/filter_opponent]
[/chance_to_hit]

[damage]
    id=wrw_anti_armored
    apply_to=self
    multiply=1.5
    cumulative=yes
    
    [filter_opponent]
        trait=wrw_armored
    [/filter_opponent]
[/damage]
#enddef

# Increases unit's defense and accuracy
#define WEAPON_SPECIAL_WRW_SKILLED
[chance_to_hit]
    id=wrw_skilled
    name= _ "skilled"
    description=_"This attack is 10% more likely to hit and gives the unit receives 10% extra defense."
    apply_to=self
    add=10
    cumulative=yes
[/chance_to_hit]

[chance_to_hit]
    id=wrw_skilled
    apply_to=opponent
    sub=10
    cumulative=yes
[/chance_to_hit]
#enddef

# Increases damage and accuracy when attacking
#define WEAPON_SPECIAL_IMPETUS
    [damage]
        id=wrw_impetus
        name= _ "impetus"
        description= _ "When used offensively, increases damage caused by 50 and accuracy by 10, counter-attack's damage increases as well."
        multiply=1.5
        apply_to=both
        active_on=offense
        cumulative=yes
    [/damage]

    [chance_to_hit]
        id=wrw_impetus
        apply_to=self
        add=10
        cumulative=yes
    [/chance_to_hit]
#enddef

# Increases damage and accuracy when attacking
#define WEAPON_SPECIAL_SUPER_IMPETUS
    [damage]
        id=wrw_super_impetus
        name= _ "super impetus"
        description= _ "When used offensively, doubles damage and increases accuracy by 20%, but counter-attack's damage will only increases by 50%."
        multiply=2
        apply_to=self
        active_on=offense
        cumulative=yes
    [/damage]

    [damage]
        id=wrw_super_impetus
        multiply=1.5
        apply_to=opponent
        active_on=offense
        cumulative=yes
    [/damage]

    [chance_to_hit]
        id=wrw_impetus
        apply_to=self
        add=20
        cumulative=yes
    [/chance_to_hit]
#enddef

# Increases damage against non lawful units
#define WEAPON_SPECIAL_HOLY
    [damage]
        id=wrw_holy
        name= _ "holy"
        description= _ "Attack deals 30% more damage against chaotic units, half of it against neutral and liminal."
        multiply=1.3
        apply_to=self
        cumulative=yes
    
        [filter_opponent]
            alignment=chaotic
        [/filter_opponent]
    [/damage]

    [damage]
        id=wrw_holy
        multiply=1.15
        apply_to=self
        cumulative=yes
    
        [filter_opponent]
            alignment=neutral,liminal
        [/filter_opponent]
    [/damage]
#enddef