#textdomain wrw
[unit_type]
    id=wrw_outpost
    name= _ "Outpost"
    race=wrw_building
    image="temp/units/outpost.png"
    hitpoints=100
    movement_type=wrw_building_wood
    movement=0
    vision=8
    level=1
    alignment=neutral
    advances_to=null
    cost=20
    upkeep=0
    usage=archer
    description= _ "MOCK"

    [abilities]
        {ABILITY_WRW_REPAIRS 10}
    [/abilities]

    [attack]
        name=murder_holes
        description=_"murder holes"
        type=impact
        range=melee
        damage=10
        number=1
        icon=attacks/rock_thrown.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=archers
        description=_"archers"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=8
        number=2
        attack_weight=0
        defense_weight=0
        [specials]
            {WEAPON_SPECIAL_WRW_RANGE 2 6}
        [/specials]
    [/attack]

    
    [attack_anim]
        [filter_attack]
            name=murder_holes_rocks
        [/filter_attack]

        start_time=-1000
        offset=0

        sling_stone_start_time=-800
        [if]
            hits=yes
            [sling_stone_frame]
                halo="projectiles/stone-large.png:800"
                halo_x=24~0
                halo_y=0~-10,-10~-18,-18~-22,-22~-24,-24~-25,-25~-24,-24~-22,-22~-18,-18~-10,-10~-0
                offset=0.0~1.0
            [/sling_stone_frame]

            [frame]
                image="temp/units/outpost.png"
                sound=sling-big.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [sling_stone_frame]
                halo="projectiles/stone-large.png:900"
                halo_x=24~0
                halo_y=0~-10,-10~-16,-16~-20,-20~-22,-22~-20,-20~-16,-16~-10,-10~0,0~-4,-4~0,0~-2,-2~0
                offset=0.0~1.5
            [/sling_stone_frame]

            [frame]
                image="temp/units/outpost.png"
                sound=sling-big-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=archers
        [/filter_attack]

        start_time=-445
        missile_start_time=-150

        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -230}
    [/attack_anim]
[/unit_type]